<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/styles/article.css">
  </head>
  <body>
    <header class="head">
      <div class="-logo">
        <a href=""><h1> Crisis Compass</h1></a>
      </div>
    </header>
    <main class="main">
      <div class="-img">
        <img src="GettyImages-97662009-e1639583222583.jpg" alt="">
        <div class="-gradient">
          <div class="-text">
            <h1>Echoes of Conflict: Unraveling the Iraq-Iran War
            </h1>
            <p>The Iraq-Iran War, spanning from 1980 to 1988, stands as a pivotal and harrowing chapter in the history of the Middle East. This brutal conflict unfolded against a backdrop of longstanding regional tensions</p>
          </div>
          <div class="-gap">
            
          </div>
        </div>
      </div>
      <article class="article">
        <div>
        </div>
        <div>
          <section>
            <h2>Introduction</h2>
            <p>Duis qui proident eiusmod proident cupidatat duis nisi. Incididunt qui sunt cupidatat enim voluptate qui. Sunt minim non proident aliquip adipisicing anim dolore sit ipsum occaecat nisi. Id occaecat sit est proident commodo velit deserunt. Ut et pariatur id qui eu esse et veniam. Consequat ea veniam ex minim non. Consequat cupidatat eu anim cupidatat et eu aliquip minim.</p>
          </section>
          <section>
            <h2>Lorem</h2>
            <p>Duis qui proident eiusmod proident cupidatat duis nisi. Incididunt qui sunt cupidatat enim voluptate qui. Sunt minim non proident aliquip adipisicing anim dolore sit ipsum occaecat nisi. Id occaecat sit est proident commodo velit deserunt. Ut et pariatur id qui eu esse et veniam. Consequat ea veniam ex minim non. Consequat cupidatat eu anim cupidatat et eu aliquip minim.</p>
          </section>
          <section>
            <img src="https://qph.cf2.quoracdn.net/main-qimg-1942810b897b9023cf4541e695d66324-lq" alt="">
            <p>Duis qui proident eiusmod proident cupidatat duis nisi. Incididunt qui sunt cupidatat enim voluptate qui. Sunt minim non proident aliquip adipisicing anim dolore sit ipsum occaecat nisi. Id occaecat sit est proident commodo velit deserunt. Ut et pariatur id qui eu esse et veniam. Consequat ea veniam ex minim non. Consequat cupidatat eu anim cupidatat et eu aliquip minim.</p>

          </section>
        </div>        
        <div></div>
      </article>
    </main>
    
    <script src="" async defer></script>
  </body>
</html>