<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header.ejs') %>

    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.umd.min.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/styles.css">
    
  </head>
  <body>
    <header class="head">
        <div class="-logo">
          <a href=""><h1> Crisis Compass</h1></a>
        </div>
      <nav class="-nav">
        <button id="nav">|||</button>
        
      </nav>
    </header>
    <main class="main">
      <div id="sidebar" class="--sidebar">
        <ul id="sidebar-content">
          <li id="Asia" class="title">Asia</li>
          
          <li id="Europe" class="title">Europe</li>
          <li id="Africa" class="title">Africa</li>
          <li id="NorthAfrica" class="title">North America</li>
          <li id="SouthAmerica" class="title">South America</li>
        </ul>
      </div>
      <div id="map">

      </div>
    </main>
    <script src="/js/dom.js">

    </script>
  </body>
</html>

