<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.umd.min.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.css" rel="stylesheet" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/styles/styles.css">
    
    

  </head>
  <body>
    <header class="head">
        <div class="-logo">
          <a href=""><h1> Crisis Compass</h1></a>
        </div>
      <nav class="-nav">
        <button id="nav">|||</button>
        
      </nav>
    </header>
    <main class="main">
      <div id="sidebar" class="--sidebar">
        <ul id="sidebar-content">
          <li id="Asia" class="title">Asia</li>
          
          <li id="Europe" class="title">Europe</li>
          <li id="Africa" class="title">Africa</li>
          <li id="NorthAfrica" class="title">North America</li>
          <li id="SouthAmerica" class="title">South America</li>
        </ul>
      </div>
      <div id="map">

      </div>
    </main>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/js/dom.js">

    </script>
  </body>
</html>

